h1 {
  /* make the background-color the color of the sky */
  background-color: blue;
}

h2 {
  /* make the background-color your favorite color */
  background-color: red;
}

h3 {
  /* make the background-color tomato and change the color property to make the text white */

background-color: tomato;
color:  white;
}

p {
  /* change any properties you want try: width, height, font-size, line-height, margin-top google some new ones too! */
background-color: rgb(red, green, blue);
font-style:   unset;
line-height: 50px;
font-size: 20px;
shape-margin:   0pt;
color: transparent;
width: 350px;

}